.small-paper-form {
    padding: 20px;
    margin: 100px auto 0;
    max-width: 500px;

    h1 {
        margin-bottom: 60px;
        text-align: center;
    }

    .google-button {
        border-radius: 1px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        transition: background-color 0.218s, border-color 0.218s,
            box-shadow 0.218s;
        background-color: #fff;
        background-image: none;
        color: #262626;
        cursor: pointer;
        outline: none;
        overflow: hidden;
        position: relative;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        width: auto;

        &:focus,
        &:hover {
            box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
        }

        &:active {
            background-color: #e5e5e5;
            box-shadow: none;
            transition-duration: 10ms;
        }
    }

    .googleSignIn {
        margin: 1rem auto;
        border: none;
        border-radius: 2px;
        background-color: #4285f4;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24),
            0 0 1px 0 rgba(0, 0, 0, 0.12);
        border: none;
        display: flex;
        padding: 1px;
        color: #fff;
        cursor: pointer;

        &:hover {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24),
                0 0 2px 0 rgba(0, 0, 0, 0.12);
        }
        &:active {
            background: #3367d6;
        }
    }

    .googleSignIn__text {
        padding: 9px;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.2px;
        text-align: left;
        white-space: nowrap;
    }
}

.sign-in-form {
    margin: 20px 0;

    .btn-sign-in {
        margin: 16px 0;
    }
}
