.balanace-breakdown {
    text-align: center;

    .paper {
        flex-direction: column;
        padding: 15px;
        font-size: 27px;
    }

    .amount {
        // margin: 0 5px;
    }
    .split-direction {
        font-size: 30px;
        // margin: 0 10px;
    }

    .table td {
        vertical-align: baseline;
        padding: 0;
    }
}
