.bill {
    .footer {
        display: flex;
        flex-direction: row;

        .payer {
            font-weight: bold;
            margin-right: 4px;
        }

        .paid-for-wrapper {
            display: flex;
            flex-direction: row;
            margin-left: 5px;

            .name {
                color: #fff;
                background-color: #282c34;
                font-size: 0.8em;
                border-radius: 3px;
                padding: 4px 8px;
                margin-right: 4px;
            }
        }
    }
}
