.people {
    .people-list {
        flex-wrap: wrap;
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;

        .person {
            display: inline-block;
            flex-direction: column;
            max-width: auto;
            max-height: 300px;
        }
    }
}
