.people {
    .people-list {
        flex-wrap: wrap;
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;

        .person {
            flex-direction: column;
        }
    }
}
