.people {
    .people-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .person {
            flex-direction: column;
        }
    }
}
