.person {
    // padding: 16px 20px;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 2px 1px -1px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    display: inline-block;
    width: 220px;
    height: 100px;
    margin: 0px 16px 16px 0;

    .inner {
        display: flex;
        flex-direction: row;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
            0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .person-icon {
        width: 100px;
        height: 100px;
        font-size: 2rem;
        border: 6px solid #fff;
    }
    .header {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        padding: 16px;

        .name {
            margin-bottom: 6px;
            margin: 0;
            text-align: right;
        }
    }

    .spend-wrapper {
        font-size: 0.7rem;
        text-align: right;
    }
}
